<template>
    <v-app>
        <body>
            <header>
            </header>
            <router-view></router-view>
           <footer>some random footer info.</footer>
        </body>
        
        <router-link tag="li" to="/">Home</router-link>
        <router-link tag="li" to="/about">About</router-link>
        <!--THe most important thing here-->
        
        
    </v-app>
</template>

<script>
export default {

};
</script>

