<template>
    <div>
        <div class="wraper">
            <div class="split-graph">This site shows how to use api</div>
            <aside>Api is the greatest thing invented</aside>
            <aside>Another use case for api</aside>
        </div>  
    </div>
</template>
