<template>
    <div>
        <div class="wrapper">
            <aside class="left-side">Here Will be Left ASide for this site</aside>
             <div class="split-graph">
                 <div class="graph">
                     Here will be good info
                 </div>
             </div>
            <aside class="right-side">Here will be right ASide for this site</aside>
        </div>  
    </div>
</template>

<script>
export default {
    mounted () {
        console.log('something works others dont')
    }
}
</script>

<style scoped>
    .wrapper {
        display: flex;
        align-items: center;
        color:#b8b8b8;
    }
    .split-graph {
        background: #646464;
        width:75%;
        height: 600px;
    }
    .right-side {
        width: 8%;
        height: 800px;
        background: #b8b8b8;
    }
    .left-side {
        width: 17%;
        height: 800px;
        background: #b8b8b8;
    }
    .graph {
        background: #272727;
        height: 80%;
        width: 90%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
</style>

